/*html {
	width: 100%;
	background-color: #ffecd0;
	background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
	background: no-repeat center center fixed;
}*/

/*.background {
	background-image: url("../res/mountains1.jpg");
	height: 1000px;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
}*/

html, body {
	font-family: Lato-Lig;
	font-size: 16pt;
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
}

a { color: rgb(18, 148, 216);
	text-decoration: none;
}
a:hover 	{ color: rgb(102, 203, 255); }
/*a:visited 	{ color: gray; }*/
a:active 	{ color: #ddd; }

@font-face {
    font-family: Lato-Lig;
    src: url("/res/Lato-Lig.ttf");
}

.alignText_C {
	text-align: center;
}

.centerVert {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.app {
	margin: 20px;
}

.grid {
	position: relative;
}

.gridItem {
	position: absolute;
}

.menuBar {
	/*background-color: #f5f5f5;
	border-bottom: 1px solid;
	border-color: #ddd;*/
	margin: 0px;
}

/*.menuDotWrapper {
	padding: 0.8em;
	margin: 0.2em;
	border-radius: .4em;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	transition: background-color 0.15s cubic-bezier(.55,0,.4,1) 0s;
}*/
/*
.menuDotWrapper:hover {
	background-color: rgba(0, 0, 0, 0.5);
}*/

/*.menuDot {
	border-radius: 50%;
	background-color: lightgrey;
	height: .2em;
	width: .2em;
	padding: .2em;
	margin: .2em;
	opacity: .8;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: opacity 0.15s cubic-bezier(.55,0,.4,1) 0s;
}

.menuDotWrapper:hover .menuDot {
	opacity: 1;
}*/

.menuItem {
	padding-top: .2em;
	padding-bottom: .2em;
	padding-left: .4em;
	padding-right: .35em;
	position: relative;
	color: white;
	opacity: .75;
	font-size: 1em;
	display: inline-block;
	transition: opacity 0.15s cubic-bezier(.55,0,.4,1) 0s;
}

.menuItem:hover {
	opacity: 1;
}

/*.menuDotWrapper:hover .menuDotCaption {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}*/

#wrapper {
	min-height:100%;
	position:relative;
	background-color: rgba(0, 0, 0, 0.5);
}
#header {
	padding:10px;
	background-color: rgba(0, 0, 0, 1);
}
#content {
	padding:10px;
	padding-bottom: 3.0em;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:3.0em;
	position:absolute;
	bottom:0;
	left:0;
	font-size: 0.8em;
	color: rgba(255, 255, 255, .75);
	background-color: rgba(0, 0, 0, 1);
}

.smallText {
	font-size: 12pt;
}

.bodyText {
	margin: 1.0em 1.0em 0em 1.0em;
}

.bgWrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	position: absolute;
	overflow: hidden;
}

.scEmbed {
	margin: 1.2em;
}

/*<video autoplay loop id="bgvid"><source src="/res/sunset.mp4" type="video/mp4"></video>*/
#bg {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	background: url("/res/mountains2_m.jpg") no-repeat;
	background-size: cover;
}