.align-center {
	text-align: center;
}

.photo-caption {
	position: absolute;
	right: 5%;
	bottom:10%;
	z-index: 1;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.caption-icon {
	/*padding: 0.3em 0.5em 0.5em 0.65em;*/
	padding: 0.3em 0.5em 0.33em 0.64em;
	background-color: white;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	opacity: 0.5;
	display: inline;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1.33px;

	/*transition: opacity 0.25s cubic-bezier(.55,0,.4,1) 0s;
	transition: border-radius 0.25s cubic-bezier(.55,0,.4,1) 0s;*/
}

.caption-icon:active {
	/*color: red;*/
	opacity: 0.5;
}

.caption-msg {
	visibility: hidden;
	background-color: white;
	cursor: pointer;
	opacity: 0.9;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom-width: 1px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.0em;
	border-bottom-left-radius: 0.5em;

}

.caption-msg:active {
	opacity: 0.75;
}

.caption-title {
	background-color: white;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1.33px;
	padding-top: 0.35em;
	padding-left: 0.65em;
	padding-right: 0.6em;
	padding-bottom: 0.2em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.caption-body {
	background-color: white;
	font-size: 16px;
	max-width: 12em;
	padding-left: 0.74em;
	padding-right: 0.6em;
	padding-bottom: 0.45em;
	border-bottom-right-radius: 0.0em;
	border-bottom-left-radius: 0.5em;
}

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective-origin: top;
}

.parallax-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax-layer-front {
	transform: translateZ(0);
}

.parallax-layer-back {
	transform: translateZ(-1px) scale(2);
}

.header-img {
	height: 456px;
	background-color: #808080;
	background: no-repeat center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-bottom: 50px;
	position: absolute;
	background-position: center;
	transform-origin: top;
}

.content-bg {
	background-color: white;
	margin-top: -50px;
	padding-top: 50px;
}

@media only screen and (max-width: 768px) {
	.header-img {
		height: 323px;
	}
}
